<%= form_for(@currency) do |f| %>
  <% if @currency.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@currency.errors.count, "error") %> prohibited this currency from being saved:</h2>

      <ul>
      <% @currency.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :symbol %><br />
    <%= f.text_field :symbol %>
  </div>
  <div class="field">
    <%= f.label :exchange_rate %><br />
    <%= f.text_field :exchange_rate %>
  </div>
  <div class="field">
    <%= f.label :active %><br />
    <div class="k_on_off"><%= f.check_box :active, :id => "active" %><label for="active"></label></div>
  </div>  
  <div class="k_toolbar_button">
    <%= link_to "<button type='button' class='k_button_red'>Cancel</button>".html_safe, :back %>
    <%= f.submit :class => 'k_button_green' %>
  </div>  

<% end %>
