<div class="k_form">
  <div class="border">
    <div class="inner_border">
        <div class="sub_title">Currencies</div>

<table>
  <tr>
    <th>Name</th>
    <th>Symbol</th>
    <th>Exchange rate</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @currencies.each do |currency| %>
  <tr>
    <td><%= currency.name %></td>
    <td><%= currency.symbol %></td>
    <td><%= currency.exchange_rate %></td>
    <td><%= link_to 'Show', currency %></td>
    <td><%= link_to 'Edit', edit_currency_path(currency) %></td>
    <td><%= link_to 'Destroy', currency, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

        <div class="k_toolbar_button">
            <%= button_to "New Currency", { :action => "new" }, :method => :get, :class => "k_button_green" %>
        </div>
    </div>
  </div>
</div>