<div class="k_form">
  <div class="border">
    <div class="inner_border">
        <div class="sub_title">Merchants</div>

<table>
  <tr>
    <th>Name</th>
    <th>Url</th>
    <th>Contact</th>
    <th>Active</th>
    <th></th>
    <th></th>
  </tr>

<% @merchants.each do |merchant| %>
  <tr>
    <td><%= merchant.name %></td>
    <td><%= merchant.url %></td>
    <td><%= merchant.contact %></td>
    <td>
        <% if merchant.active %>
            <div class="k_dot_green"></div>
        <% else %>
            <div class="k_dot_red"></div>
        <% end %>
    </td>    
    <td><%= link_to '<i class="fa fa-edit"></i>'.html_safe, edit_merchant_path(merchant) %></td>
    <td><%= link_to '<i class="fa fa-trash-o"></i>'.html_safe, merchant, method: :delete, data: { confirm: 'Are you sure?' } %></td> 
  </tr>
<% end %>
</table>

        <div class="k_toolbar_button">
            <%= button_to "New Merchant", { :action => "new" }, :method => :get, :class => "k_button_green" %>
        </div>
    </div>
  </div>
</div>