<div class="k_form">
  <div class="border">
    <div class="inner_border">
        <div class="sub_title">Categories</div>

<table>
  <tr>
    <th>Name</th>
    <th>Parent</th>
    <th>Active</th>
    <th></th>
    <th></th>
  </tr>

<% @categories.each do |category| %>
  <tr>
    <td><%= category.name %></td>
    <td><%= category.parent.name if category.parent %></td>
    <td>
      <% if category.active %>
          <div class="k_dot_green"></div>
      <% else %>
          <div class="k_dot_red"></div>
      <% end %>      
    </td>
    <td><%= link_to '<i class="fa fa-edit"></i>'.html_safe, edit_category_path(category) %></td>
    <td><%= link_to '<i class="fa fa-trash-o"></i>'.html_safe, category, method: :delete, data: { confirm: 'Are you sure?' } %></td> 
  </tr>
<% end %>
</table>

        <div class="k_toolbar_button">
            <%= button_to "New Category", { :action => "new" }, :method => :get, :class => "k_button_green" %>
        </div>
    </div>
  </div>
</div>
