<%= form_for(@shopping) do |f| %>
  <% if @shopping.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@shopping.errors.count, "error") %> prohibited this shopping from being saved:</h2>

      <ul>
      <% @shopping.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :account_id %><br />
    <%= f.select 'account_id', Account.all.collect {|p| [ p.name, p.id ] } %>
  </div>
  <div class="field">
    <%= f.label :amount %><br />
    <%= f.text_field :amount %>
  </div>
  <div class="field">
    <%= f.label :date %><br />
    <%= f.date_select :date %>
  </div>

<div class="items">
  <table>
    <thead>
      <th>Item</th>
      <th>Quantity</th>
      <th>Unit</th>
      <th>Category</th>
      <th>Rate</th>
      <th>Amount</th>
    </thead>
    <tbody>
       
      <%= f.nested_fields_for :products do |p| %>

        <tr>
            <td>
              <%= p.text_field :name %>
            </td>
             <td>
              <%= p.text_field :quantity %>
            </td>
            <td>
              <%= p.select 'unit_id', Unit.all.collect {|p| [ p.name, p.id ] } %>
            </td>       
            <td>
              <%= p.select 'category_id', Category.all.collect {|p| [ p.name, p.id ] } %>
            </td>     
            <td>
              <%= p.text_field :rate %>
            </td>       
            <td>
              <%= p.text_field :amount %>
              <a href="#" class="remove">remove</a>
            </td>                                              
        </tr>
        

        <%= p.hidden_field :id %>
        <%= p.hidden_field :_destroy %>
      <% end %>

    </tbody>
    
  </table>
 </div>


  <a href="#" class="add">Add Product</a>


  <div class="field">
    <%= f.label :merchant_id %><br />
    <%= f.select 'merchant_id', Merchant.all.collect {|p| [ p.name, p.id ] } %>
  </div>
  <div class="field">
    <%= f.label :bill_number %><br />
    <%= f.text_field :bill_number %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
