<h1>Listing shoppings</h1>

<table>
  <tr>
    <th>Account</th>
    <th>Amount</th>
    <th>Date</th>
    <th>Merchant</th>
    <th>Bill number</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @shoppings.each do |shopping| %>
  <tr>
    <td><%= shopping.account_id %></td>
    <td><%= shopping.amount %></td>
    <td><%= shopping.date %></td>
    <td><%= shopping.merchant_id %></td>
    <td><%= shopping.bill_number %></td>
    <td><%= link_to 'Show', shopping %></td>
    <td><%= link_to 'Edit', edit_shopping_path(shopping) %></td>
    <td><%= link_to 'Destroy', shopping, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Shopping', new_shopping_path %>
