<div class="k_form">
  <div class="border">
    <div class="inner_border">
        <div class="sub_title">Shoppings</div>

<table>
  <tr>
    <th>Account</th>
    <th>Amount</th>
    <th>Date</th>
    <th>Merchant</th>
    <th>Bill number</th>
    <th></th>
    <th></th>
  </tr>

<% @shoppings.each do |shopping| %>
  <tr>
    <td><%= shopping.account.name %></td>
    <td><%= shopping.amount %></td>
    <td><%= shopping.date %></td>
    <td><%= shopping.merchant.name if shopping.merchant %></td>
    <td><%= shopping.bill_number %></td>
    <td><%= link_to '<i class="fa fa-edit"></i>'.html_safe, edit_shopping_path(shopping) %></td>
    <td><%= link_to '<i class="fa fa-trash-o"></i>'.html_safe, shopping, method: :delete, data: { confirm: 'Are you sure?' } %></td>     
  </tr>
<% end %>
</table>
        <div class="k_toolbar_button">
            <%= button_to "New Shopping", { :action => "new" }, :method => :get, :class => "k_button_green" %>
        </div>
    </div>
  </div>
</div>
