<%= form_for(@product) do |f| %>
  <% if @product.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@product.errors.count, "error") %> prohibited this product from being saved:</h2>

      <ul>
      <% @product.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :quantity %><br />
    <%= f.text_field :quantity %>
  </div>
  <div class="field">
    <%= f.label :unit_id %><br />
    <%= f.select 'unit_id', Unit.all.collect {|p| [ p.name, p.id ] } %>
  </div>
  <div class="field">
    <%= f.label :rate %><br />
    <%= f.text_field :rate %>
  </div>
  <div class="field">
    <%= f.label :amount %><br />
    <%= f.text_field :amount %>
  </div>
  <div class="field">
    <%= f.label :category_id %><br />
    <%= f.select 'category_id', Category.all.collect {|p| [ p.name, p.id ] } %>
  </div>
  <div class="k_toolbar_button">
    <%= link_to "<button type='button' class='k_button_red'>Cancel</button>".html_safe, :back %>
    <%= f.submit :class => 'k_button_green' %>
  </div>  

<% end %>
