<%= form_for(@account) do |f| %>
  <% if @account.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@account.errors.count, "error") %> prohibited this account from being saved:</h2>

      <ul>
      <% @account.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

    <div class="field">
    <%= f.label :date %><br />
    <%= f.text_field :date, :type => "date", :value => Time.now.strftime("%Y-%m-%d") %>
  </div>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :init_balance %><br />
    <%= f.text_field :init_balance %>
  </div>

  <div class="field">
    <%= f.label :active %><br />
    <div class="k_on_off"><%= f.check_box :active, :id => "active" %><label for="active"></label></div>
  </div>
  <div class="field">
    <%= f.label :note %><br />
    <%= f.text_area :note, :rows => "3"%>
  </div>

  <div class="k_toolbar_button">
    <%= link_to "<button type='button' class='k_button_red'>Cancel</button>".html_safe, :back %>
    <%= f.submit :class => 'k_button_green' %>
  </div>  


<% end %>
