<h1>Listing accounts</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Init balance</th>
    <th>Date</th>
    <th>Active</th>
    <th>Note</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @accounts.each do |account| %>
  <tr>
    <td><%= account.name %></td>
    <td><%= account.init_balance %></td>
    <td><%= account.date %></td>
    <td><%= account.active %></td>
    <td><%= account.note %></td>
    <td><%= link_to 'Show', account %></td>
    <td><%= link_to 'Edit', edit_account_path(account) %></td>
    <td><%= link_to 'Destroy', account, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Account', new_account_path %>
